<!DOCTYPE html>
<html lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Search Results- Personal Fitness</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="/js/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/style-xlarge.css"/>
    </noscript>
</head>

<body class="body_bg3">

<!-- Headers-->
<div th:replace="homepage::header1"></div>
<div sec:authorize="hasAuthority('USER')">
    <div th:replace="user::header2"></div>
</div>
<div sec:authorize="hasAuthority('TRAINER')">
    <div th:replace="trainer::header2"></div>
</div>

<section id="main" class="wrapper style2">
   <div>
    <h3></h3>
    </div>
    <div class="container" sec:authorize="hasAuthority('USER')">
        <section class="box_white">
            <form action="#" th:action="@{/user/search}" method="post" class="form_bg">

                <div class="row inputst">
                    <label class="3u labelst">Narrow search by:</label>
                    <div class="form-group 6u">
                        <select class="form-control" id="sel1" name="searchField">
                            <option th:value="all" Selected="Selected">All</option>
                            <option th:value="name">Name</option>
                            <option th:value="fitnessLevel">FitnessLevel</option>
                            <option th:value="gender">Gender</option>
                            <option th:value="specialty">Specialty</option>
                            <option th:value="rating">Rating (enter number from 1 to 5)</option>
                        </select>
                    </div>
                    <span class="3u"></span>
                </div>
                <div class="row">
                    <label class="3u labelst"> Search <span class="glyphicon glyphicon-search"></span> :</label>
                    <div class="form-group 6u">
                        <input type="text" name="searchStr" class="form-control" placeholder="Enter search string"/>
                    </div>
                    <div class="3u"><input type="submit" value="Search"/></div>
                </div>
            </form>
        </section>
    </div>
    <div sec:authorize="hasAuthority('USER')">
        <p class="text-center search_h3" th:unless="${field} == 'all'" th:inline="text">Search for "[[${field}]]" and "[[${searchstr}]]"</p>
     </div>

    <div sec:authorize="hasAuthority('TRAINER')">
        <h3 class="text-center search_h3" th:inline="text">List of all Users</h3>
        <hr/>
    </div>

    <div class="container">
        <section class="box_white">
            <table class="table  table-striped table-hover table-responsive">
                <tr>
                    <th>User Name</th>
                    <th>Need/Specialty</th>
                    <th>Fitness Level</th>
                    <th>Rating</th>
                    <th sec:authorize="hasAuthority('USER')">Actions</th>
                </tr>
                <tr class="active" th:each="user : ${searchedUsers}" th:unless="${user.suspended}">
                    <td th:text="${user.username}"></td>
                    <td><ul><li th:each="s :${user.specialties}" th:inline="text">[[${s.name}]]</li></ul>
                    </td>
                    <td><ul><li th:each="f :${user.fitnessLevels}" th:inline="text">[[${f.name}]]</li></ul>
                    </td>
                    <td>

                        <div th:if="${user.averageRating == 0}">
                            <label><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                                    class="fa fa-star-o"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 1}">
                            <label><i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 2}">
                            <label><i class="fa fa-star" style="color:yellow;"></i>
                                <i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 3}">
                            <label><i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                      style="color:yellow;">

                            </i><i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 4}">
                            <label><i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                      style="color:yellow;"></i>
                                <i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                   style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 5}">
                            <label><i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                      style="color:yellow;">

                            </i><i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                   style="color:yellow;"></i>
                                <i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                    </td>
                    <td sec:authorize="hasAuthority('USER')">
                        <a th:href="@{/user/request/{id}(id=${user.id})}">Send Request</a>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</section>


</body>
<!-- Bootstrap core JavaScript-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script><!-- Core plugin JavaScript-->
</body>

</html>