<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Trainer profile-Personal Fitness</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!--[if lte IE 8]>
    <script src="/js/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css"/>
        <link rel="stylesheet" href=/css/style.css"/>
        <link rel="stylesheet" href="/css/style-xlarge.css"/>
    </noscript>
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body id="top">

<!-- Header 1-->
<div th:replace="homepage::header1"></div>


<!--</header>-->
<header2 th:fragment="header2" id="header2" class="skel-layers-fixed">
    <h1><a href="#">Trainer</a></h1>
    <nav id="nav2">
        <ul>
            <li><a href="/user" th:if="${user.trainerRequestFlag}"><i class="icon2 fa-bell major4"></i> New Request</a>
            </li>
            <li><a href="/trainer">home</a></li>
            <li><a href="/trainer/comment">Rate a User</a></li>
            <li><a href="/trainer/search">Show Users</a></li>
            <li><a href="/logout" class="button special">Sign Out</a></li>
        </ul>
    </nav>
    </div>
</header2>
<!-- Main -->
<section id="main" class="wrapper style2">
    <header class="major2">
        <h2 th:inline="text">Welcome trainer [[${user.username}]]</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section class="special box_white">
                    <a href="#" class="image fit"><img th:src="${user.headshot}" alt=""/></a>
                    <h3 th:inline="text">[[${user.firstName}]]</h3>
                    <p th:inline="text">[[${user.email}]]</p>
                    <div th:each="s:${user.specialties}">
                        <div th:inline="text"> [[${s.name}]]</div>
                        <hr class="hr2"/>
                    </div>

                    <ul class="actions">
                        <li><a href="/trainer/choosepic" class="button alt">Choose a picture</a></li>
                    </ul>
               </section>
                <section class="box_white">
                    <h3 class="special align-center">Rating Average</h3>
                    <div class="align-center">

                        <div th:if="${user.averageRating == 0}">
                            <label><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                            </i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                            </i><i class="fa fa-star-o"></i></label>
                        </div>
                        <div  th:if="${user.averageRating == 1}">
                            <label ><i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 2}">
                            <label><i class="fa fa-star" style="color:yellow;"></i>
                                <i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 3}">
                            <label ><i class="fa fa-star" style="color:yellow;"></i><i
                                    class="fa fa-star" style="color:yellow;">
                            </i><i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div  th:if="${user.averageRating == 4}">
                            <label><i class="fa fa-star" style="color:yellow;"></i><i
                                    class="fa fa-star" style="color:yellow;"></i>
                                <i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                   style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 5}">
                            <label><i class="fa fa-star" style="color:yellow;"></i><i
                                    class="fa fa-star"
                                    style="color:yellow;">
                            </i><i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                   style="color:yellow;"></i>
                                <i class="fa fa-star" style="color:yellow;"></i></label>
                        </div>

                    </div>


                    <hr/>
                    <div th:each="comment :${user.comments}">

                        <div class="row">
                            <label class="4u right">Rating: </label>
                            <div class="8u" th:if="${comment.rating == 1}">
                                <label th:inline="text"><i class="fa fa-star" style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 2}">
                                <label th:inline="text"><i class="fa fa-star" style="color:yellow;"></i>
                                    <i class="fa fa-star" style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 3}">
                                <label th:inline="text"><i class="fa fa-star" style="color:yellow;"></i><i
                                        class="fa fa-star"
                                        style="color:yellow;">

                                </i><i class="fa fa-star" style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 4}">
                                <label th:inline="text"><i class="fa fa-star" style="color:yellow;"></i><i
                                        class="fa fa-star"
                                        style="color:yellow;"></i>
                                    <i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                       style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 5}">
                                <label th:inline="text"><i class="fa fa-star" style="color:yellow;"></i><i
                                        class="fa fa-star"
                                        style="color:yellow;">

                                </i><i class="fa fa-star" style="color:yellow;"></i><i class="fa fa-star"
                                                                                       style="color:yellow;"></i>
                                    <i class="fa fa-star" style="color:yellow;"></i></label>
                            </div>

                        </div>
                        <div class="row">
                            <label class="4u right">Date: </label>
                            <div class="8u">
                                <label th:inline="text">[[${comment.posteddate}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">Comment: </label>
                            <div class="8u">
                                <label th:inline="text">[[${comment.content}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">by user: </label>
                            <div class="8u">
                                <label th:inline="text">[[${comment.sentby}]]</label>
                            </div>
                        </div>

                        <hr/>
                    </div>
                </section>
            </div>
            <div class="8u skel-cell-important">

                <section class="box_white" th:if="${#lists.isEmpty(requests)}">
                    <h2><i class="icon2 fa-sticky-note major2"></i>Requests</h2>
                    <hr/>

                    <div>
                        <h3>No requests received</h3>
                    </div>
                </section>
                <section class="box_white" th:each="request :${requests}">
                    <div th:if="${request.receiverAnswer == 'Waiting'}">
                        <h2><i class="icon2 fa-sticky-note major2"></i>Request</h2>
                    </div>
                    <div th:if="${request.receiverAnswer == 'Accepted'}">
                        <h2><i class="icon2 fa-sticky-note major_green"></i>Request Accepted</h2>
                    </div>
                    <hr/>
                    <div class="row">

                        <label class="4u right"> User Name: </label>
                        <div class="8u">
                            <label th:inline="text">[[${request.senderName}]]</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="4u right">Date: </label>
                        <div class="8u">
                            <label th:inline="text">[[${request.date}]]</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="4u right">Time: </label>
                        <div class="8u">
                            <label th:inline="text">[[${request.time}]]</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="4u right">Area: </label>
                        <div class="8u">
                            <label th:inline="text">[[${request.area}]]</label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="4u right"></label>
                        <div class="8u">
                            <label th:if="${request.answered}" th:inline="text" style="color:green;">[[${request.receiverAnswer}]]</label>
                            <label th:unless="${request.answered}"> <a
                                    th:href="@{/trainer/requests/{id}(id=${request.id})}">
                                <button type="submit" class="btn btn-primary btn-block">Answer Request</button>
                            </a></label>
                        </div>
                    </div>

                </section>


            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<div th:replace="homepage::footer1"></div>


</body>
</html>