<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>User profile-Personal Fitness</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!--[if lte IE 8]>
    <script src="/js/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/style-xlarge.css"/>
    </noscript>
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>


</head>
<body id="top">

<!-- Header 1-->
<div th:replace="homepage::header1"></div>


<!--</header>-->
<header2 th:fragment="header2" id="header2" class="skel-layers-fixed">
    <h1><a href="#">User</a></h1>
    <nav class="collapse navbar-collapse" id="nav2">
        <ul>
             <li><a href="/user">home</a></li>
            <li><span  href="#" th:if="${user.userRequestFlag}"><i class="fa fa-fw fa-bell" style="color:red;"></i>
                <span style="color:red;">New Request</span></span></li>
            <span  href="#" th:unless="${user.userRequestFlag}"><i class="fa fa-fw fa-bell"></i></span></li>
            <li><a href="/user/request">Add Request</a></li>
            <li><a href="/user/comment">Rate Trainer</a></li>
            <li><a href="/user/search">Show Trainers</a></li>
            <li><a href="/logout" class="button special">Sign Out</a></li>
        </ul>
    </nav>
    </div>
</header2>
<!-- Main -->
<section id="main" class="wrapper style2">
    <header class="major2">
        <h2  th:inline="text">Welcome [[${user.username}]]</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section class="special box_white">
                    <a href="#" class="image fit"><img th:src="${user.headshot}" alt=""/></a>
                    <h3 th:inline="text">[[${user.firstName}]]</h3>
                    <p th:inline="text">[[${user.email}]]</p>
                    <ul class="actions">
                        <li><a href="/user/choosepic" class="button alt">Choose a picture</a></li>
                    </ul>
                </section>
                <section class="box_white">
                    <h3 class="special align-center">Rating Average </h3>

                    <div class ="align-center">

                        <div  th:if="${user.averageRating == 0}">
                            <label th:inline="text"><i class ="fa fa-star-o"></i><i class ="fa fa-star-o"></i><i class ="fa fa-star-o"></i><i class ="fa fa-star-o"></i><i class ="fa fa-star-o"></i></label>
                        </div>
                        <div  th:if="${user.averageRating == 1}">
                            <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div  th:if="${user.averageRating == 2}">
                            <label th:inline="text"><i class ="fa fa-star"style="color:yellow;"></i>
                                <i class ="fa fa-star"style="color:yellow;"></i></label>
                        </div>
                        <div  th:if="${user.averageRating == 3}">
                            <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;">

                            </i><i class ="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div  th:if="${user.averageRating == 4}">
                            <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;"></i>
                                <i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;"></i></label>
                        </div>
                        <div th:if="${user.averageRating == 5}">
                            <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;">

                            </i><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;"></i>
                                <i class ="fa fa-star" style="color:yellow;"></i></label>
                        </div>

                    </div>
                    <hr/>
                    <div th:each="comment :${user.comments}">

                        <div class="row">
                            <label class="4u right">Rating: </label>
                            <div class="8u" th:if="${comment.rating == 1}">
                                <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 2}">
                                <label th:inline="text"><i class ="fa fa-star"style="color:yellow;"></i>
                                    <i class ="fa fa-star"style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 3}">
                                <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;">

                                </i><i class ="fa fa-star" style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 4}">
                                <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;"></i>
                                    <i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;"></i></label>
                            </div>
                            <div class="8u" th:if="${comment.rating == 5}">
                                <label th:inline="text"><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;">

                                </i><i class ="fa fa-star" style="color:yellow;"></i><i class ="fa fa-star" style="color:yellow;"></i>
                                    <i class ="fa fa-star" style="color:yellow;"></i></label>
                            </div>

                            </div>
                        <div class="row">
                            <label class="4u right">Date: </label>
                            <div class="8u">
                                <label th:inline="text">[[${comment.posteddate}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">Comment: </label>
                            <div class="8u">
                                <label th:inline="text">[[${comment.content}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">by user: </label>
                            <div class="8u">
                                <label th:inline="text">[[${comment.trainerName}]]</label>
                            </div>
                        </div>

                        <hr/>
                    </div>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <div th:if="${#lists.isEmpty(user.requests)}">

                    <section class="box_white">
                        <h2><i class="icon2 fa-sticky-note major2"></i>Requests</h2>
                        <hr/>

                        <div th:if="${#lists.isEmpty(user.requests)}">
                            <h3>** add a request</h3>
                        </div>
                    </section>
                </div>

                <section class="box_white" th:each="request :${user.requests}">
                    <div th:if="${request.status == 'Waiting'}">
                    <h2><i class="icon2 fa-sticky-note major2"></i>Request</h2>
                    </div>
                    <div th:if="${request.status == 'Accepted'}">
                        <h2><i class="icon2 fa-sticky-note major_green"></i>Request Accepted</h2>
                    </div>
                    <div th:if="${request.status == 'Conflict'}">
                        <h2><i class="icon2 fa-sticky-note major_yellow"></i>Request Conflict</h2>
                    </div>
                    <hr/>

                    <div>
                        <div class="row">
                            <label class="4u right"> Trainer Name: </label>
                            <div class="8u">
                                <label th:inline="text">[[${request.receiverName}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">Date: </label>
                            <div class="8u">
                                <label th:inline="text">[[${request.date}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">Time: </label>
                            <div class="8u">
                                <label th:inline="text">[[${request.time}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">Area: </label>
                            <div class="8u">
                                <label th:inline="text">[[${request.area}]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="4u right">Status: </label>
                            <div class="8u">
                                <label th:inline="text">[[${request.status}]]</label>
                            </div>
                        </div>
                    </div>

                </section>


            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<div th:replace="homepage::footer1"></div>


</body>
</html>